<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HyperJob resume</title>
</head>
<body>
    <h2>Welcome to HyperJob!</h2>
    <div>
        {% for menu in menus %}
        <div>
            <a href="{{ menu.href }}">{{ menu.name }}</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>